#quit-room-btn {
  padding: 10px 25px;
  border: 1px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
  margin: 10px;
  transition-duration: .3s;
}
#quit-room-btn:hover {
  background-color: var(--main-hover);
  transition-duration: .3s;
}

.img-finished {
  width: 200px;
}

#root {
  background-color: var(--main-button-background-color);
}

#room-name {
  padding: 15px;
}

#game-container {
  width: 50vw;
  height: 50vh;
  border: 1px solid var(--main-button-border-color);
  margin: 25px;
  margin-left: 20vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

#ready-btn {
  border: 1px solid var(--main-button-border-color);
  background-color: var(--main-button-background-color);
  height: 100px;
  width: 200px;
  font-size: large;
  font-weight: bold;
  transition-duration: .3s;
}

#ready-btn:hover {
  background-color: var(--main-hover);
  transition-duration: .3s;
}

#timer {
  font-size:xx-large;
  font-weight: bold;
}

#text-container {
  font-size: large;
}

#game-timer {
  position: absolute;
  bottom: 15px
}

.user-header {
  display: flex;
  margin: 5px 0;
}

.user {
  margin: 25px;
  width: 100%
}

.username {
  margin-left: 20px;
}

.user-progress-template {
  width: 100%;
  border: 1px solid var(--main-button-border-color);
  height: 25px;
}

.user-progress {
  height: 100%;
  background-color:green;
}

.finished {
  background-color:greenyellow !important;
}

.user-item {
  height: 20px;
}

.span-ready {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: red;
}

.span-ready.ready {
  background-color: green;
}

span.green {
  background-color: darkgreen;
  color: white;
}
span.next {
  position: relative;
  display: inline-block;
}
span.next::after {
  position: absolute;
  content: '';
  width: 10px;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: greenyellow;
}
.chars-per-second {
  position: absolute;
  top: 8px;
  left: 20px;
}
